<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>theaters</mat-icon>Movie Time</span>

  <div class="spacer"></div>

  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="movies">Movies</a>
  <a mat-button routerLink="review">Reviews</a>
  <a mat-button routerLink="contact">Contact Us</a>
  <a mat-raised-button routerLink="/login" *ngIf="!isUserAuthenticated()" color="accent">Login</a>
  <a mat-raised-button *ngIf="isUserAuthenticated()" (click)="logOut()" color="accent">Logout</a>

</mat-toolbar>

