<div class="center">
  <h1>Sign UP</h1>
  <form #signupForm ="ngForm" (ngSubmit)="signup(signupForm)">
    <div class="txt_field">
      <input type="text" id="username" name="username" required [(ngModel)]="credentials.username">
      <span></span>
      <label>UserName</label>
    </div>
    <div class="txt_field">
      <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
      <span></span>
      <label>Password</label>
    </div>
    <div class="pass my-3" style="margin-bottom: 20px;">
      
      <button type="submit" (click)="validate()">Submit</button>
    </div>
    
 
  </form>
</div>
